---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$cdn: "{{ site.cdn }}";
$design: "#{$cdn}/design";
$devices: "#{$design}/device-mockups";

$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     2rem;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)

@import 'foundation';
@import 'settings/settings';
@include foundation-everything;

// Migrated legacy code from Minima _base

body {
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    min-height: 100%;
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}

/**
 * Links
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}
 */

/**
 * Code formatting
 */
pre,
code {
    border-radius: 0.5rem;
    background-color: #eef;
}

pre {
    padding: 0.5rem 0.75rem;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

/**
 * Icons
.icon {

    > svg {
        display: inline-block;
        width: 1rem;
        height: 1rem;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}
 */

@import 'syntax-highlighting';
@import 'device-mockups';

/**
 * Custom add on styles
 */

html {
  background-color: $background-color;
  height: 100%;
}

/* FONTS */
$cinzel-font-family: 'Cinzel Decorative', cursive;
$cour-font-family: 'Courgette', cursive;
$merri-font-family: 'Merriweather', serif;
$mono-font-family: 'Roboto Mono', monospace;
$slabo-font-family: 'Slabo 13px', serif;

/* Font assignments */
.cinzel {
  font-family: $cinzel-font-family;
}

.cour, h1 {
  font-family: $cour-font-family;
}

.merri, p, body {
  font-family: $merri-font-family;
}

.mono, .copyright-notice, code, pre {
  font-family: $mono-font-family;
}

.slabo, h2, h3, h4, h5, h6, ul {
  font-family: $slabo-font-family;
}

.font-light {
  font-weight: 300;
}
.font-heavy {
  font-weight: 700;
}

main {
  border: white solid 0.25rem;
  border-radius: 18%;
  padding: 3rem 4rem;
  margin: 6rem;
  background-color: rgba(0,0,0,0.67);
  color: white;
}

/* Parallax */
#parallax {
  border-bottom: black solid 0.25rem;
  border-radius: 18%;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

#parallax-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -100;
}

#parallax-img::after {
  background-color: rgba(0,0,0,0.23);
  border: black solid 0.25rem;
  border-radius: 18%;
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
}

