---
# Only the main Sass file needs front matter (the dashes are enough)
# Liquid variables can still be passed to Sass partials as Sass variables
---
@charset "utf-8";

// Our variables
$cdn: "{{ site.cdn }}";
$design: "#{$cdn}/design";
$devices: "#{$design}/device-mockups";

/* FONTS */
$cinzel-font-family: 'Cinzel Decorative', cursive;
$cour-font-family: 'Courgette', cursive;
$merri-font-family: 'Merriweather', serif;
$mono-font-family: 'Roboto Mono', monospace;
$slabo-font-family: 'Slabo 13px', serif;

@import 'foundation';
@import 'settings/settings';
@include foundation-everything;

@import 'icons/general_foundicons';
@import 'icons/social_foundicons';

/**
 * Links
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}
 */

/**
 * Icons
.icon {

    > svg {
        display: inline-block;
        width: 1rem;
        height: 1rem;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}
 */

@import 'syntax-highlighting';
@import 'device-mockups';

/**
 * Custom add on styles
 */

html {
  background-color: $body-background;
  height: 100%;
}

body {
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  min-height: 100%;
}

h1 {
  @extend .cinzel;
}

h2 {
  @extend .cour;
}

h3, h4, h5, h6, ul {
  @extend .slabo;
}

pre, code {
  border-radius: 0.5rem;
  background-color: #eef;
  @extend .mono;
}

pre {
    padding: 0.5rem 0.75rem;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

img {
    max-width: 100%;
    vertical-align: middle;
}

figure > img {
    display: block;
}

figcaption {
  font-size: 0.875rem;
}

/* Top bar */

.top-bar-left .nameplate {
  padding: 0.625rem;
}

.top-bar-right {
  font-size: 1.25rem;
  > .vertical > li {
    margin: 0.75rem 0 0;
  }
  .search-box {
    width: 74%;
  }
}

.nameplate h1 {
  font-size: 1.75rem;
  line-height: 1;
  margin: 0;
  @extend .cinzel;
  @include breakpoint(medium) {
    font-size: 2rem;
  }
  @include breakpoint(large) {
    font-size: 3.25rem;
  }
}
/* Search Results */
#results-container li {
  font-size: 1.1875rem;
  span {
    font-size: inherit;
    text-align: inherit;
  }
}

/* Device Mockups */
.device {
  color: $white;
  @extend .mono;
}

.screen {
  padding: 0.0625rem 0.25rem;
}

/* Parallax */
#parallax {
  position: relative;
  overflow: hidden;
  z-index: 0;
}

#parallax-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -100;
}

#parallax-img::after {
  background-color: rgba(0,0,0,0.23);
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
}

#parallax > header {
  border: white solid 0.125rem;
  border-radius: 0.5rem;
  background-color: rgba(0,0,0,0.67);
  color: white;
  padding: 1rem 1.33rem;
  margin: 2rem;
  @include breakpoint(large) {
    padding: 3rem 4rem;
    margin: 6rem;
  }
}

.copyright-notice {
  font-size: 0.6875rem;
  line-height: 1.2728;
  @extend .mono;
}

.masthead {
  background-color: $black;
  color: $white;
  padding: 1rem 0;
}

/* Font classes */
.cinzel {
  font-family: $cinzel-font-family;
}

.cour {
  font-family: $cour-font-family;
}

.merri {
  font-family: $merri-font-family;
}

.mono {
  font-family: $mono-font-family;
}

.slabo {
  font-family: $slabo-font-family;
}

.font-light {
  font-weight: 300;
}
.font-heavy {
  font-weight: 700;
}

