<form action="https://docs.google.com/a/remystjames.com/forms/d/1XFdzsL_D7hXzwpo-xrjUNrC_qppW6ekc1gFVLWrDins/formResponse" method="POST" id="ss-form" target="_self" onsubmit="">
	<p class="text-right"><em>required information</em> = <a href="" class="button warning radius tiny"><strong>*</strong></a></p>

	<fieldset>
		<legend>Preliminaries</legend>

		<div class="row">

			<div class="small-1 medium-3 large-2 columns">
				<label class="inline right" for="entry_1133163877">Name</label>
			</div>

			<div class="small-12 medium-9 large-10 columns">
				<div class="row collapse postfix-radius">

					<div class="small-11 column">
						<input
							aria-required="true"
							id="entry_1133163877"
							name="entry.1133163877"
							pattern=".*.*"
							placeholder="First and Last"
							type="text"
							value=""
						>
					</div>

					<div class="small-1 column">
						<span class="postfix"></span>
					</div>

				</div>
			</div>

		</div>
		<div class="row">

			<div class="small-1 medium-3 large-2 columns">
				<label class="inline right" for="entry_2082695400">Email</label>
			</div>

			<div class="small-12 medium-9 large-10 columns">
				<div class="row collapse postfix-radius">

					<div class="small-11 column">
						<input
							aria-label="email  Please supply a valid email address"
							aria-required="true"
							id="entry_2082695400"
							name="entry.2082695400"
							pattern=".*.*"
							placeholder="point.of@contact.com"
							required
							title="Must be a valid email address"
							type="email"
							value=""
						>
					</div>

					<div class="small-1 column">
						<span class="postfix"></span>
					</div>

				</div>
			</div>

		</div>

	</fieldset>

	<fieldset>
		<legend>Foundations</legend>

<!-- Question 3 - Options x2 -->
			<label for="entry_709282848">
				Do you need to <em>create</em> a new website, or <em>improve</em> an existing site?
			</label>

				<select
					aria-label="Do you need to create a new website, or improve an existing site?"
					class="text-center"
					id="entry_1554457273"
					name="entry.1554457273"
				>
					<option class="text-center" value="create">Create a new website</option>
					<option class="text-center" value="improve">Improve an existing website</option>
				</select>
			<label for="entry_709282848">
				Do you need to <em>create</em> a new website, or <em>improve</em> an existing site?
			</label>
			<div class="switch radius">
				<input id="exampleRadioSwitch2" type="radio" name="testGroup">
				<label for="exampleRadioSwitch2">Create and New Website</label>
			</div>
<!--
					aria-label="Do you need to create a new website, or improve an existing site?"
					id="entry_709282848"
					name="entry.709282848"
				>
					<option class="text-center" value="create">Create a new website</option>
					<option class="text-center" value="improve">Improve an existing website</option>
-->
				<label for="entry_1903960450">Current Website address</label>
		<div class="row collapse prefix-radius">
			<div class="small-3 large-2 columns">
				<span class="prefix">http://</span>
			</div>
			<div class="small-8 large-9 columns">
				<input
					aria-label="current website address  Please enter a valid URL"
					id="entry_1903960450"
					name="entry.1903960450"
					title="Please include &quot;http://&quot; or &quot;https://&quot; at the beginning of the URL"
					type="url"
				>
			</div>
			<div class="small-1 column">
				<span class="postfix"></span>
			</div>
		</div>

<!-- Question 4 - Text -->
		<label for="entry_1903960450">current website address</label>
		<input
			aria-label="current website address  Please include &quot;http://&quot; or &quot;https://&quot; at the beginning of the URL"
			class=""
			id="entry_1903960450"
			name="entry.1903960450"
			required
			title="Please include &quot;http://&quot; or &quot;https://&quot; at the beginning of the URL"
			type="url"
			value=""
		>
		<label class="error-message" for="entry_1903960450" id="2134451908_errorMessage">Please include &quot;http://&quot; or &quot;https://&quot; at the beginning of the URL</label>
		<label class="required-message" for="entry_1903960450">This is a required question</label>

<!-- Question 5 - Select x2 -->
		<label for="entry_2068403337">Do you sell a product or service?	</label>
		<select
			aria-label="Do you sell a product or service?  "
			id="entry_2068403337"
			name="entry.2068403337"
		>
			<option value=""></option>
			<option value="Sell online and offline">Sell online and offline</option>
			<option value="Sell online only">Sell online only</option>
			<option value="Sell offline only">Sell offline only</option>
			<option value="No, do not conduct sales transactions">No, do not conduct sales transactions</option>
		</select>
		<label for="entry_2068403337" class="required-message">This is a required question</label>

	</fieldset>

	<fieldset>
		<legend>Summit</legend>

<!-- Question 6 - Text Area -->
		<label class="" for="entry_1478017062">Message</label>
		<textarea
			aria-label="Message  Must be at least 12 characters."
			aria-required="true"
			class="ss-q-long"
			cols="0"
			dir="auto"
			id="entry_1478017062"
			name="entry.1478017062"
			required
			rows="8"
		></textarea>
		<label class="error-message" for="entry_1478017062" id="271138628_errorMessage">Must be at least 12 characters.</label>
		<label class="required-message" for="entry_1478017062">This is a required question</label>

<!-- Hidden Inputs -->
		<input type="hidden" name="draftResponse" value="[,,&quot;-8997078181776892451&quot;]">
		<input type="hidden" name="pageHistory" value="0">
		<input type="hidden" name="fvv" value="0">
		<input type="hidden" name="fbzx" value="-8997078181776892451">

<!-- Submit input -->
					<input type="submit" name="submit" value="Submit" id="ss-submit" class="jfk-button jfk-button-action right">

	</fieldset>
</form>
