<footer class="masthead row" role="contentinfo">
  <div class="small-12 columns menu-centered">
    <ul class="menu vertical">
      <li>
        <a class="cinzel" href="{{ site.baseurl }}/">{{ site.title }}</a>
      </li>
      <li class="menu-text">{{ site.description }}</li>
      <li>
        <a href="mailto:{{ site.data.contact.nap.email }}">
          <span>{{ site.data.contact.nap.email }}</span>
          <i class="gen-mail"></i>
        </a>
      </li>
      {% if site.data.contact.social %}
      <li>
        <ul class="menu nested">
        {% for social in site.data.contact.social %}
          <li>
            <a href="{{ social.user | prepend: social.url }}">
              <span>{{ site.data.contact.nap.sn }} on {{ social.account }}</span>
              <i class="{{ social.account | downcase | prepend: 'so-' }}"></i>
            </a>
          </li>
        {% endfor %}
        </ul>
      </li>
      {% endif %}
    </ul>
  </div>
  <div class="small-12 columns text-center">
    {% include cc_no_derivatives.html %}
  </div>
</footer>
