<footer role="contentinfo" class="include--footer">
  <div class="menu-centered masthead">
    <ul class="menu vertical">
      <li>
        <a class="cinzel" href="{{ site.baseurl }}/">{{ site.title }}</a>
      </li>
      <li class="menu-text">{{ site.description }}</li>
      <li>
        <a href="mailto:{{ site.data.contact.nap.email }}">
          <span>{{ site.data.contact.nap.email }}</span>
          <i class="gen-mail"></i>
        </a>
      </li>
      {% if site.data.contact.social %}
      <li class="menu-centered">
        <ul class="menu nested">
        {% for social in site.data.contact.social %}
          <li>
            <a target="_blank" href="{{ social.user | prepend: social.url }}">
              <span>{{ site.data.contact.nap.sn }} on {{ social.account }}</span>
              <i class="{{ social.account | downcase | prepend: 'so-' }}"></i>
            </a>
          </li>
        {% endfor %}
        </ul>
      </li>
      {% endif %}
      <li>
      {% include copyright.html %}
      </li>
    </ul>
  </div>
</footer>
