<!--
<div class="flex-video">
<iframe src="https://docs.google.com/forms/d/1BYJzA8DXQ5Y6tKwfeKy3NedMr0DUnpbG5795zk4DQb8/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>
<div class="flex-video">
<iframe src="{{ "/form.html" | prepend: site.baseurl | prepend: site.url }}" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>
-->

<h2>Contact Us [Test]</h2>
<div>Test form for Rootandflow.com - For press inquiries, please contact... </div>
<div aria-hidden="true">* Required</div>

<div class="ss-form">
	<form action="https://docs.google.com/a/remystjames.com/forms/d/{{ site.data.forms.test.key }}/formResponse?embedded=true" method="POST" id="ss-form" target="_self" onsubmit="">
		<ol role="list" class="ss-question-list">
			<div class="ss-form-question errorbox-good" role="listitem">
				<div class="ss-item ss-item-required ss-text">
					<div class="ss-form-entry">
						<label class="ss-q-item-label" for="entry_1957683366">
						<div class="ss-q-title">Your email:
							<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
							<span class="ss-required-asterisk" aria-hidden="true">*</span>
						</div>
						<div class="ss-q-help ss-secondary-text">Our reply will be sent to this email address. </div>
						</label>
						<input type="text" name="entry.1957683366" value="" class="ss-q-short" id="entry_1957683366" aria-label="Your email: Our reply will be sent to this email address.  Please enter a valid email address" aria-required="true" required="" pattern="[a-zA-Z0-9_\.\+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-\.]+" title="Please enter a valid email address">
						<small class="error-message error" id="1909448382_errorMessage">Please enter a valid email address</small>
						<div class="required-message">This is a required question</div>
					</div>
				</div>
			</div>
			<div class="ss-form-question errorbox-good" role="listitem">
				<div class="ss-item  ss-text">
					<div class="ss-form-entry">
						<label class="ss-q-item-label" for="entry_1984284850">
						<div class="ss-q-title">Your name:</div>
						<div class="ss-q-help ss-secondary-text"></div>
						</label>
						<input type="text" name="entry.1984284850" value="" class="ss-q-short" id="entry_1984284850" aria-label="Your name:  " title="">
						<small class="error-message" id="787037501_errorMessage"></small>
						<div class="required-message">This is a required question</div>
					</div>
				</div>
			</div>
			<div class="ss-form-question errorbox-good" role="listitem">
				<div class="ss-item ss-item-required ss-paragraph-text">
					<div class="ss-form-entry">
						<label class="ss-q-item-label" for="entry_1872285363">
						<div class="ss-q-title">Message: 
							<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
							<span class="ss-required-asterisk" aria-hidden="true">*</span>
						</div>
						<div class="ss-q-help ss-secondary-text"></div>
						</label>
						<textarea name="entry.1872285363" rows="8" cols="0" class="ss-q-long" id="entry_1872285363" aria-label="Message:   " aria-required="true" required=""></textarea>
						<small class="error-message" id="316984100_errorMessage"></small>
						<div class="required-message">This is a required question</div>
					</div>
				</div>
			</div>
			<div class="errorbox-good" role="listitem">
				<div class="ss-item  ss-section-header">
					<div class="ss-form-entry">
						<h2 class="ss-section-title">Optional Information</h2>
						<div class="ss-section-description ss-no-ignore-whitespace">Answering the following questions is not required, but recommended. </div>
					</div>
				</div>
			</div>
			<div class="ss-form-question errorbox-good" role="listitem">
				<div class="ss-item  ss-radio">
					<div class="ss-form-entry">
						<label class="ss-q-item-label" for="entry_935407201">
						<div class="ss-q-title">Do you have a website? </div>
						<div class="ss-q-help ss-secondary-text"></div>
						</label>
						<ul class="ss-choices" role="radiogroup" aria-label="Do you have a website?   ">
							<li class="ss-choice-item">
								<label>
								<span class="ss-choice-item-control goog-inline-block">
								<input type="radio" name="entry.2138954797" value="Yes, and we love it!" id="group_2138954797_1" role="radio" class="ss-q-radio" aria-label="Yes, and we love it!">
								</span>
								<span class="ss-choice-label">Yes, and we love it!</span>
								</label>
							</li> 
							<li class="ss-choice-item">
								<label>
								<span class="ss-choice-item-control goog-inline-block">
								<input type="radio" name="entry.2138954797" value="Yes... but we need it to  do more." id="group_2138954797_2" role="radio" class="ss-q-radio" aria-label="Yes... but we need it to  do more.">
								</span>
								<span class="ss-choice-label">Yes... but we need it to  do more.</span>
								</label>
							</li>
							<li class="ss-choice-item">
								<label>
								<span class="ss-choice-item-control goog-inline-block">
								<input type="radio" name="entry.2138954797" value="No, but we want one." id="group_2138954797_3" role="radio" class="ss-q-radio" aria-label="No, but we want one."></span>
								<span class="ss-choice-label">No, but we want one.</span>
								</label>
							</li>
						</ul>
						<small class="error-message" id="935407201_errorMessage"></small>
						<div class="required-message">This is a required question</div>

					</div>
				</div>
			</div>

			<input type="hidden" name="draftResponse" value="[,,&quot;9095840665352798607&quot;]">
			<input type="hidden" name="pageHistory" value="0">
			<input type="hidden" name="fvv" value="0">
			<input type="hidden" name="fbzx" value="9095840665352798607">

			<input type="submit" name="continue" value="Continue &raquo;" id="ss-submit" class="jfk-button jfk-button-standard ">
		</ol>
	</form>
</div>

<div id="docs-aria-speakable" class="docs-a11y-ariascreenreader-speakable docs-offscreen" aria-live="assertive" role="region" aria-atomic></div>
