<div class="include--site-nav" data-sticky-container>
  <header role="banner" class="banner sticky" data-sticky data-options="stickyOn:small;marginTop:0">

    <nav class="title-bar" data-responsive-toggle="site-nav" data-hide-for="large">
      <button class="menu-icon" type="button" data-toggle></button>
      <div class="title-bar-title">
        {{ site.data.contact.nap.sn | append: '.com' }}
      </div>
    </nav>


    <nav id="site-nav" class="top-bar">

      <div class="top-bar-left menu-centered">
        <ul class="menu">
          <li>
            <a href="{{ site.baseurl }}/"
              class="nameplate"
            >
              <h1>
                <strong>{{ site.title }}</strong>
              </h1>
            </a>
          </li>
        </ul>
      </div>

      <div id="responsive-menu">
        <div class="top-bar-right">
          <ul class="menu vertical">
            <li>
              <ul class="menu align-right">
                <li class="search-box">
                  <input type="search"
                           id="search-input"
                  placeholder="Search">
                </li>
              </ul>
            </li>

            <li>
              <ul class="dropdown menu" data-dropdown-menu>
    {% for my_page in site.pages %}
      {% if my_page.top_nav %}
        {% if site.url == site.github.url %}
          {% if my_page.top_nav != 'dev' %}
                <li {% if my_page.url == page.url %}class="active"{% endif %}>
                  <a href="{{ my_page.url | prepend: site.baseurl }}">
                    {{ my_page.title }}
                  </a>
                </li>
          {% endif %}
        {% else %}
                <li {% if my_page.url == page.url %}class="active"{% endif %}>
                  <a href="{{ my_page.url | prepend: site.baseurl }}">
                    {{ my_page.title }}
                  </a>
                </li>
        {% endif %}
      {% endif %}
    {% endfor %}
              </ul>
            </li>

          </ul>
        </div>
      </div>

    </nav>

  </header>
</div>
