<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}

    {% if page.scroll %}
    {% assign parallax = page.scroll | append: '--'
                                     | prepend: '/design/photos/'
                                     | prepend: site.cdn %}

    <div id="parallax">
      <div id="parallax-img"
           data-interchange="
             [{{ parallax | append: '0640.jpg' }}, small],
             [{{ parallax | append: '1024.jpg' }}, medium],
             [{{ parallax | append: '1536.jpg' }}, large],
             [{{ parallax | append: '0640@2x.jpg' }}, retina],
             [{{ parallax | append: '1024@2x.jpg' }}, medium_retina],
             [{{ parallax | append: '1536@2x.jpg' }}, large_retina]">
      </div>

        <main class="content" role="main">
          {{ content }}
        </main>

    </div>
    {% else %}
        <main class="content">
          {{ content }}
        </main>
    {% endif %}

    {% include footer.html %}

    <script src='{{ "/js/parallax.js" | prepend: site.baseurl }}'></script>
    <script>
    $(document).ready(function($) {
      {% for func in page.functions %}
        {% include functions/{{ func }}.js %}
      {% endfor %}
    });
    </script>

  </body>

</html>
