---
layout: global
---
<div class="layout--page row">
  <main role="main" class="">
    <div id="parallax">
      {% include parallax_image.html %}
      <header class="column small-centered small-10">
        <div class="row">
          <div class="column large-8">
            <h1>{{ page.title | markdownify
                              | strip_html
                              | strip_newlines
                              }}
            </h1>
    {% if page.description %}
            <p class="lead">{{ page.description
                                           | markdownify
                                           | strip_html
                                           | strip_newlines
                                           }}
            </p>
    {% endif %}
          </div>
          <div class="column large-4">
            <ul id="results-container" class="menu vertical text-right"></ul>
          </div>
      </header>
    </div>

    <article class="content column medium-10 medium-centered">
      <hr/>
      {{ content }}
      <hr/>
    </article>

  </main>
</div>
