---
layout: global
---
<article class="row" itemscope itemtype="http://schema.org/BlogPosting">
  <div id="parallax" class="row expanded">
    {% include parallax_image.html %}
    <header class="row">
      <div class="column large-6">
        <h1 itemprop="name headline">{{ page.title
                                        | markdownify
                                        | strip_html
                                        | strip_newlines
                                        }}
        </h1>
{% if page.subtitle %}
        <p class="lead text-center">{{ page.subtitle
                                       | markdownify
                                       | strip_html
                                       | strip_newlines
                                       }}
        </p>
{% endif %}
        <p>Published:
          <time datetime="{{ page.date | date_to_xmlschema }}"
                itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}
          </time>
        </p>
{% if page.author %}
        <p itemprop="author" itemscope itemtype="http://schema.org/Person">By:
          <span itemprop="name">{{ page.author }}</span>
        </p>
{% endif %}
      </div>
      <div class="column large-6">
        <ul id="results-container" class="menu vertical text-right"></ul>
      </div>
    </header>
  </div>

  <main class="content column small-12" itemprop="articleBody" role="main">
    {{ content }}
  </main>

  <footer class="column small-12">
    {% include posts_list.html %}
    {% include rss_subscribe.html %}
  </footer>

</article>
