---
layout: global
---
<div class="layout--post">
  <main role="main">
    <article>
      <div id="parallax" class="parallax">
        {% include parallax_image.html %}
        <header class="parallax--content">
          <div class="banderole">
            <div class="titlelines">
              <h1 class="headline">{{ page.title | markdownify
                                | strip_html
                                | strip_newlines
                                }}
              </h1>
      {% if page.subtitle %}
              <p class="subhead">{{ page.subtitle
                                             | markdownify
                                             | strip_html
                                             | strip_newlines
                                             }}
              </p>
      {% endif %}
              <dl class="byline">
      {% if page.author %}
                <dt>By:</dt>
                <dd><span>{{ page.author }}</span></dd>
      {% endif %}
                <dt>Published:</dt>
                <dd>
                  <time datetime="{{ page.date | date_to_xmlschema }}">
                    {{ page.date | date: "%b %-d, %Y" }}
                  </time>
                </dd>
      {% if page.updated %}
                <dt>Updated:</dt>
                <dd>
                  <time datetime="{{ page.updated | date_to_xmlschema }}">
                    {{ page.date | date: "%b %-d, %Y" }}
                  </time>
                </dd>
      {% endif %}
                <dt>RSS:</dt>
                <dd>
                {% include rss_subscribe.html %}
                </dd>
              </dl>
            </div>
            <div class="search-results">
              <ul id="results-container" class="menu vertical text-right"></ul>
            </div>
          </div>
        </header>
      </div>

      <section class="content--post">
        <hr/>
        {{ content }}
      </section>
    </article>

  </main>

  <aside class="sidebar--post">
    <hr/>
    {% include posts_list.html %}
  </aside>
</div>
